include ../../mixins/card.pug
include ../../mixins/buttons.pug
section(class="section home-section-1")
    div(class="flex flex-col gap-8 md:gap-16 container")
        div(class="flex flex-col justify-center items-center gap-12")
            h1(class="text-xl uppercase text-center") hani models
            p(class="text-body text-center w-full max-w-[40ch] ") Boutique women’s modelling agency representing talent across fashion, beauty and lifestyle.
        div(class="splide home-gallery-slider")    
            div(class="splide__track")
                ul(class="splide__list")
                    li(class="splide__slide") 
                        +modelCard("Gabriella Rousseau", "./media/models/1.png")
                    li(class="splide__slide")
                        +modelCard("Alessia Fontaine", "./media/models/2.png")                    
                    li(class="splide__slide")
                        +modelCard("Victoria Sinclair", "./media/models/3.png")
                    li(class="splide__slide")
                        +modelCard("Sarena Moreau", "./media/models/4.png")
                    li(class="splide__slide")
                        +modelCard("Celeste Vaughn", "./media/models/5.png")
                    li(class="splide__slide")
                        +modelCard("Sophia Lennox", "./media/models/6.png")
                    li(class="splide__slide")
                        +modelCard("Ava Delacroix", "./media/models/7.png")
                    li(class="splide__slide")
                        +modelCard("Isla Harrington", "./media/models/8.png")  
            div(class="pt-[calc(7.527rem)]")                 
                div(class="home-slider-progress")
                    div(class="home-slider-progress-bar")
        div(class="mx-auto")    
            +Buttons(
                    'model.html',
                    'view all models',
                    null,
                    'link',
                    'flex'
            )
