@use "variables" as *;
@use "mixins" as *;
// ICONS 

.hamburger{
    cursor: pointer;
    display: flex;
    svg{
        @apply w-[10rem] h-auto md:w-[5rem];
        fill: none;
        path{
            stroke: color($primary-color-1,1.0);
            stroke-width:2.5;
            stroke-linecap:round;
            stroke-linejoin:round;
        }
    }
}

.my-slider-progress {
  background:  color($primary-color-5,0.1);
  height: rem(3);
  width: 100%;
}

.my-slider-progress-bar {
  background: color($primary-color-1,1.0);
  height: 100%;
  transition: width 400ms ease;
  width: 0;
}