@use "variables" as *;
@use "mixins" as *;
@use "blocks/blocks" as *;
// TABS

section{
    &.model-section-1{
        .tabs{
            @apply flex  gap-y-[3rem] md:gap-y-[6rem] gap-x-[2rem]  mr-auto;
            &::after{
                content: none
            }
            @extend %p-btn-str;
            .tab{
                padding: 0;
                word-spacing: rem(5);
                &::before {
                    content: attr(aria-label);
                    color: color($primary-color-1,1);
                }
              
                &::after{
                    content: "";
                    line-height: 0;

                }
            }
            
    
        }
        
    }
}
