section(class="become-a-model-section-1 grid  grid-cols-1 md:grid-cols-[60%] gap-12 py-[5rem]")      
        div(class="space-y-12")
            div(class="flex gap-6")
                div(class="flex items-center gap-2") 
                    input(type="radio" name="radio-3" class="radio radio-neutral radio-sm" checked="checked")
                    span(class="text-highlight") female
                div(class="flex items-center gap-2")      
                    input(type="radio" name="radio-3" class="radio radio-neutral radio-sm")
                    span(class="text-highlight") non-binary 
            form(action="" class="form grid grid-cols-2 gap-8")
                input(type="text" placeholder="first name" class="input w-full  col-span-2 text-body")     
                input(type="text" placeholder="last name" class="input w-full  col-span-2 text-body")     
                input(type="text" placeholder="phone" class="input text-body")     
                input(type="text" placeholder="email" class="input text-body")     
                input(type="text" placeholder="city" class="input text-body")     
                select(class="text-body countries w-full")
                    option(disabled selected) country
                input(type="text" placeholder="agency (if modeling already ?)" class="input text-body")
                select(class="text-body heights w-full")
                    option(disabled selected) height 
                input(type="text" placeholder="waist" class="input text-body")
                input(type="text" placeholder="hips" class="input text-body")
                input(type="text" placeholder="shoe size" class="input text-body")
                input(type="text" placeholder="hair color" class="input text-body")
                input(type="text" placeholder="eye color" class="input text-body")
                input(type="date" class="input text-body uppercase")