include ../../mixins/buttons.pug
div(class="become-a-model-section-2")
    div(class="container")
        div(class="grid grid-cols-1")      
            div(class="")
                form(action="" class="flex flex-col gap-[calc(7.527rem/6)] md:gap-[calc(7.527rem/4)] py-[calc(7.527rem/2)]")
                    div(class="flex gap-6 py-[calc(7.527rem/4)] md:py-[calc(7.527rem/2)]")
                        div(class="flex items-center gap-2") 
                            input(type="radio" name="radio-3" class="radio radio-neutral radio-sm checked:bg-transparent" checked="checked")
                            span(class="text-highlight") female
                        div(class="flex items-center gap-2") 
                            input(type="radio" name="radio-3" class="radio radio-neutral radio-sm checked:bg-transparent")
                            span(class="text-highlight") male    
                        div(class="flex items-center gap-2")      
                            input(type="radio" name="radio-3" class="radio radio-neutral radio-sm checked:bg-transparent")
                            span(class="text-highlight") non-binary 
                    div(class="form grid  grid-cols-2 md:grid-cols-4   items-end")
                        input(type="text" placeholder="first name" class="input w-full text-highlight")     
                        input(type="text" placeholder="last name" class="input w-full text-highlight")     
                        input(type="text" placeholder="phone" class="input w-full text-highlight")     
                        input(type="text" placeholder="email" class="input w-full text-highlight")
                        div(class="date w-full")
                            input(id="datePicker" class="text-highlight w-full" type="text" placeholder="date of birth")
                            i(class="fa-regular fa-calendar fa-xl")     
                        input(type="text" placeholder="city" class="input w-full text-highlight")     
                        select(class="text-highlight countries w-full")
                            option(disabled selected) country
                        input(type="text" placeholder="agency (if modeling already ?)" class="input w-full text-highlight")
                        select(class="text-highlight heights w-full")
                            option(disabled selected) height 
                        select(class="text-highlight w-full waist")
                            option(disabled selected) waist  (optional)
                        select(class="text-highlight w-full bust")
                            option(disabled selected) bust (optional)    
                        select(class="text-highlight w-full hips")
                            option(disabled selected) hips  (optional)
                        select(class="text-highlight  w-full")
                            option(disabled selected) Previous modelling experience ?
                            option(value="") yes
                            option(value="") no
                        select(class="text-highlight  w-full")
                            option(disabled selected) Available to travel internationally? 
                            option(value="") yes
                            option(value="") no                        
                        input(type="text" placeholder="instagram (optional)" class="input w-full text-highlight")
                    div(class="flex flex-col gap-6 py-[calc(7.527rem/4)] md:py-[calc(7.527rem/2)]")
                        div(class="flex items-start gap-3")
                            i(class="fa-solid fa-circle-exclamation fa-lg leading-none")
                            div(class="space-y-3")
                                p(class="text-highlight font-semibold underline") Please upload 3–5 natural photos  
                                ul(class="space-y-[calc(7.527rem/16)] list-decimal") 
                                    li(class="text-highlight upload-feature") Face (front)
                                    li(class="text-highlight upload-feature") Profile (side)
                                    li(class="text-highlight upload-feature") Full body
                                    li(class="text-highlight upload-feature") Optional additional image 
                                    li(class="text-highlight upload-feature") No filters or heavy makeup.
                        ul(class="grid grid-cols-2 md:grid-cols-5 gap-[calc(7.527rem/2)] py-[calc(7.527rem/4)]")
                            - for (var i = 0; i < 5; ++i) {
                                li     
                                    div(class="file-button")
                                        div(class='flex items-center justify-between place-holder w-full')
                                            span(class="text-highlight") upload photo
                                            i(class="fa-regular fa-camera fa-lg")
                                        input(type="file" class="file")
                            - }          
                    div(class="terms flex flex-col gap-12")
                        div(class="flex items-start gap-2") 
                            input(type="checkbox"  defaultChecked class="checkbox checkbox-neutral checkbox-xs")
                            div(class="flex flex-col gap-2 terms-text")  
                                p(class="text-highlight")  I have read and I accept the Terms & Conditions.  
                                p(class="text-highlight")  Information to the applicant  
                        div(class="flex items-start gap-2") 
                            input(type="checkbox"  defaultChecked class="checkbox checkbox-neutral checkbox-xs")
                            div(class="flex flex-col gap-2 terms-text")  
                                p(class="text-highlight  w-full max-w-[70ch]")  | I understand and agree that, upon my acceptance
                                                            | (that is not compulsory) you will also send me information
                                                            |by email and/or SMS about existing and new services and special offers.   
                        div(class="flex items-start gap-2") 
                            input(type="checkbox" defaultChecked class="checkbox checkbox-neutral checkbox-xs")
                            div(class="flex flex-col gap-2 terms-text")  
                                p(class="text-highlight  w-full max-w-[70ch]")  | I understand and agree that upon my acceptance (that is not compulsory) 
                                                            | you will be entitled to transfer my data to third parties with whom you
                                                            | have a contractual relationship (partners, sponsors, etc.) so that I may receive
                                                            | special offers or other information from them.
                        
                        div(class="grid  grid-cols-1 md:grid-cols-[30%] py-[3rem]")
                            +Buttons(
                                '',
                                'submit application',
                                null,
                                'link',
                                'flex'
                            )                                
                                                    
                                                
