header(class="become-model-header relative")
        div(class="flex flex-col-reverse md:grid md:grid-cols-[60%_40%]")
            div(class="flex items-end")
                section(class="space-y-12 pt-[3rem] md:pt-[5rem]") 
                    div(class="space-y-3")
                        p(class="text-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, animi aut dolor recusandae vitae, quasi voluptatem reiciendis ut sint officia similique consequatur fugiat explicabo ullam, laudantium eos voluptatibus nobis atque?
                        p(class="text-body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, animi aut dolor recusandae vitae, quasi voluptatem reiciendis ut sint officia similique consequatur?
                 
            div(class="flex relative md:static") 
                h1(class="text-xl") Become a Model
                img(src="./media/banners/banner-1.png", alt="")  