div(class="become-a-model-section-1")
    div(class="container")
        div(class="grid grid-cols-1 md:grid-cols-[60%_40%] pb-[calc(7.527rem/2)]")
            div(class="md:row-span-2 flex items-end")
                div(class="pt-[calc(7.527rem/2)] flex flex-col gap-[calc(7.527rem/4)]")
                    p(class="text-body max-w-[60ch]") Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, animi aut dolor recusandae vitae, quasi voluptatem reiciendis ut sint officia similique consequatur fugiat explicabo ullam, laudantium eos voluptatibus nobis atque?
                    p(class="text-body max-w-[60ch]") Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, animi aut dolor recusandae vitae, quasi voluptatem reiciendis ut sint officia similique consequatur?
            div(class="row-start-1 col-start-1 md:col-start-2 md:row-start-2")
                img(class="w-full", src="./media/banners/banner-1.jpg", alt="")

            div(class="row-start-1 md:row-start-2 col-start-1 col-span-full flex items-center justify-center w-full z-10")
                h1(class="text-xl ") Become a Model