extends ../base.pug
block content
    section(class="become-a-mode-section")
        include ./components/become-a-model/section-1.pug   
        include ./components/become-a-model/section-2.pug   
            
        