extends ../base.pug
block content
    section
        include ./components/single-model/section-1.pug   
        include ./components/single-model/section-2.pug   
        include ./components/single-model/section-3.pug