mixin Buttons({ link, text, types, className = "hidden md:flex" } = {})
    if types === 'link'
        a(href=link class="button-1 items-center "+''+" "+className+"")
            div(class="button-1-stroke text-body uppercase") #{text}
    else if types === 'submit'
        button(type=types class="button-1 items-center "+''+" "+className+"")
            div(class="button-1-stroke text-body uppercase") #{text}