@use "variables" as *;
@use "mixins" as *;
@use "blocks/blocks" as *;

header{
    &.become-model-header{
        @apply p-0;
        .text-xl{
            @apply 
            max-w-[10ch]
            w-full
            text-left 
            md:text-center 
            normal-case
            absolute 
            top-3/4
            left-0
            pl-[1rem]
            md:left-1/2 
            md:pl-0 
            md:top-1/2            
            md:-translate-x-1/2 
            -translate-y-1/2;
        }
        .text-body{
            @apply max-w-full md:max-w-[55ch] w-full;
        }
    }
}