@use "variables" as *;
@use "mixins" as *;
@use "blocks/blocks" as *;
// BECOME A MODEL

div{
    &.become-a-model-section-1{
        @apply px-0;
     
        .text-body{
            @apply max-w-full md:max-w-[55ch] w-full;
            color: color($primary-color-1,1);
        }
        .text-xl{
            color: color($primary-color-1,1);
            @apply mt-auto text-left md:mt-0 md:text-center max-w-[10ch];
        }
    }
    
}

div{
    &.become-a-model-section-2{
        .text-highlight,
        i
        {
            color: color($primary-color-1,1);
        }
        .upload-feature{
            color: color($primary-color-6,1);
        }
        
    }
}