@use "variables" as *;
@use "mixins" as *;
@use "blocks/blocks" as *;
//HOME


section{
   &.home-section-1{
    h1{
        color: color($primary-color-1,1.0);
    }
    h2{
        color: color($primary-color-6,1.0);
    }
    .splide{
        @apply py-[calc(7.527rem/2)];
        .splide__slide{
            .text-md{
               color: color($primary-color-1,1.0);
            }
            @extend %img-overlay-base;
           
        }
    }
   }
}