@use "variables" as *;
@use "mixins" as *;
@use "blocks/blocks" as *;
//SINGLE MODLE

div{
    &.single-mode-section-1{
        .text-xl,
        .text-md{
            color: color($primary-color-1,1);
        }

        .measurements{
            @apply p-[calc(7.527rem/2)] md:p-[calc(7.527rem)];
            background: color($primary-color-4,1);
            .text-lg,
            span{
                color: color($primary-color-1,1);
                font-family: $secondary-font;  
            }
            i{
                color: color($primary-color-1,1);  
            }
            .quote-text{
                i{
                    color: color($primary-color-6,0.1);
                    position: absolute;
                    top: rem(-30);
                    left: rem(-30);  
                }
                

            }
            .text-body{
                color: color($primary-color-6,1);  
            }
            .measurements-feature{
                .feature{
                    span{
                        &:nth-child(1){
                            color: color($primary-color-1,1);
                        }
                        &:nth-child(2){
                            color: color($primary-color-6,1);
                        }
                    }
                }
            }
        }
        .bg{
            img{
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &.become-a-model-section-2{
        .video-container{
            cursor: pointer;
            video{
                @apply w-full h-full md:w-1/2 md:h-1/2;
            }

            i{
                color: color($primary-color-4,1);
                z-index: 10;
                @apply text-[1.5rem] md:text-[3rem];
              
            }
        }
        .next-model{
            .next-mode-cta{
                @apply py-[2rem] px-[2rem];
                
                background: color($primary-color-1,1);
                .text-body{
                    color :color($primary-color-6,1);
                    font-family:$secondary-font;
                }
                .text-md{
                   color : color($primary-color-4,1);
                }
                img{
                    @apply w-[30%] h-auto object-cover; 
                }

            }
        }
    }
    
}