@use "variables" as *;
@use "mixins" as *;
/* FOOTER */

.footer{
    border-top: rem(1) solid color($primary-color-5,0.1);
    .footer-top{
        @apply py-[calc(7.527rem/2)] md:pt-[calc(7.527rem)] md:pb-[calc(7.527rem/2)];
    }
    .footer-bottom{
        @apply py-[calc(7.527rem/2)];
    }
    .text-highlight,
    .text-md{
        color: color($primary-color-1,1.0);
        display: inline-block;

    }
    i{
        color: color($primary-color-1,1.0);
    }
}