div(class="section about-section-1")
  div(class="grid grid-cols-1 md:grid-cols-2 gap-[3rem]  container")
    div(class="flex flex-col items-start justify-center gap-12")
      h1(class="text-xl") about us
      div(class="flex flex-col gap-6") 
        p(class="text-body") HANI Models is a boutique women’s modelling agency representing talent across fashion, beauty and lifestyle. 
        p(class="text-body") We work with models selected for their aesthetic strength, presence and individuality, supporting both editorial and image-driven commercial projects. 
        p(class="text-body") Our roster includes women of varied backgrounds and styles, united by clarity of image and the ability to move naturally across different visual moods — from soft and elegant to bold and expressive — while maintaining a strong sense of identity. 
        p(class="text-body") There is no single “HANI look.” What connects our models is presence: the ability to hold attention with simplicity, intention and authenticity. 
        p(class="text-body") We represent talent with long-term visual potential and a refined, adaptable image suited to contemporary fashion and beauty work. 
    div(class="bg")
      img(src="./media/banners/about.png", alt="", srcset="") 
    