div(class="about-section-2")
    div(class="container space-y-12")
        h2(class="text-lg") ask frequently questions
        div(class="grid grid-cols-1")
            div(class="collapse collapse-plus")
                input(type='radio' name='my-accordion-2' checked='checked')
                div(class="collapse-title text-md") Who can apply to your modeling agency ?
                div(class="collapse-content text-body")
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repudiandae harum tempore, quaerat quae alias ab, autem illum eius nostrum voluptatum ad voluptas magnam provident, neque quam eveniet beatae ipsam.
            div(class="collapse collapse-plus")
                input(type='radio' name='my-accordion-2')
                div(class="collapse-title text-md") Do I need previous modeling experience ?
                div(class="collapse-content text-body")
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repudiandae harum tempore, quaerat quae alias ab, autem illum eius nostrum voluptatum ad voluptas magnam provident, neque quam eveniet beatae ipsam.
            div(class="collapse collapse-plus")
                input(type='radio' name='my-accordion-2')
                div(class="collapse-title text-md") What photos should I submit with my application ?
                div(class="collapse-content text-body") 
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repudiandae harum tempore, quaerat quae alias ab, autem illum eius nostrum voluptatum ad voluptas magnam provident, neque quam eveniet beatae ipsam.
            div(class="collapse collapse-plus")
                input(type='radio' name='my-accordion-2')
                div(class="collapse-title text-md") Can I apply if I live in another city or country ?
                div(class="collapse-content text-body") 
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repudiandae harum tempore, quaerat quae alias ab, autem illum eius nostrum voluptatum ad voluptas magnam provident, neque quam eveniet beatae ipsam.
            div(class="collapse collapse-plus")
                input(type='radio' name='my-accordion-2')
                div(class="collapse-title text-md") What are the age requirements to apply ?
                div(class="collapse-content text-body") 
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repudiandae harum tempore, quaerat quae alias ab, autem illum eius nostrum voluptatum ad voluptas magnam provident, neque quam eveniet beatae ipsam.
            

