footer(class="relative") 
    div(class="footer grid grid-cols-1 md:grid-cols-3 w-full")
        div(class="flex")
            span(class="text-highlight")
                i(class="fa-regular fa-envelope fa-2xl")
                |nfo@hanimodels.com
        div(class="flex w-full") 
            span(class=" md:mx-auto text-highlight") 
                i(class="fa-brands fa-instagram fa-2xl")
                |hanimodels
        div(class="flex w-full")
          span(class="md:ml-auto text-highlight flex items-center gap-1")
            i(class="fa-regular fa-copyright fa-2xl")
            | #{new Date().getFullYear()} HANI Models