header(class="header flex justify-between align-items-center")
    div(class="logo flex")
        div(class="logo-wrapper")
            img(src="./media/logo.png", alt="")
    div(class="flex justify-end items-center gap-16")
        a(href="become-a-model.html") 
            button(class="pry-btn hidden md:flex items-center text-highlight gap-2")
                |become a model
                i(class="fa-solid fa-heart fa-sm")   
        div(class="flex gap-6")            
            a(href="" class="instagram-icon hidden md:flex items-center")
                i(class="fa-brands fa-instagram fa-3x")
            div(class="flex")
                div(class="drawer drawer-end")
                    input(id="offcanvas" class="drawer-toggle" type='checkbox')
                    div(class="drawer-content")
                        label(class="drawer-button hamburger" for='offcanvas')
                            svg(viewbox='0 0 60 60')
                                path(d='M10 25H50M10 35H50')
                    div(class="drawer-side")
                        label(class="drawer-overlay" for='offcanvas' aria-label='close sidebar')
                        ul(class="menu min-h-full flex flex-col justify-between")
                            li(class="h-full")
                                label(for="offcanvas" class="ml-auto bg-transparent")
                                    i(class="fa-solid fa-xmark fa-2xl" for='offcanvas')
                            li
                                div
                                    a(class="text-lg" href="index.html") portfolio
                                div
                                    a(class="text-lg" href="model.html") models
                                div
                                    a(class="text-lg") agency
                                div
                                    a(class="text-lg" href="contact.html") contact
                            li(class="flex md:hidden")   
                                a(href="become-a-model.html" class="w-full flex") 
                                    button(class="pry-btn w-full items-center justify-center text-highlight gap-2")
                                        |become a model
                                        i(class="fa-solid fa-heart fa-sm ml-2")
