include ../../mixins/card.pug
section(class='section model-section-1 py-[2rem] md:py-[5rem]')
    div(class="flex flex-col items-center justify-center py-[5rem] md:py-[10rem] gap-6 md:gap-12")
        span(class="text-md") all models
        h1(class="text-xl") Models
    div(class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-12 relative")
        +modelCard("Gabriella Rousseau", "./media/models/1.png")
        +modelCard("Alessia Fontaine", "./media/models/2.png")                    
        +modelCard("Victoria Sinclair", "./media/models/3.png")
        +modelCard("Sarena Moreau", "./media/models/4.png")
        +modelCard("Celeste Vaughn", "./media/models/5.png")
        +modelCard("Sophia Lennox", "./media/models/6.png")
        +modelCard("Ava Delacroix", "./media/models/7.png")
        +modelCard("Isla Harrington", "./media/models/8.png")       
            