section(class="single-mode-section-1 py-[2rem] md:py-[5rem]")
        div(class="flex flex-col items-center justify-center py-[5rem] md:py-[10rem] gap-6 md:gap-12")
            span(class="text-md") all models
            h1(class="text-xl text-center") Gabriella Rousseau
        div(class="grid grid-cols-1 md:grid-cols-[60%_40%]")
            div(class="measurements flex flex-col justify-between")
                div(class="social-icons")
                    ul(class="flex") 
                        li 
                            a(href="#") 
                                i(class="fa-brands fa-instagram fa-3x")                
                div(class="grid grid-cols-4 gap-8")
                    div(class="flex flex-col")
                        span(class="text-md") height
                        span(class="text-md") 5'9
                    div(class="flex flex-col ")
                        span(class="text-md") bust
                        span(class="text-md") 31
                    div(class="flex flex-col ")
                        span(class="text-md") waist
                        span(class="text-md") 23
                    div(class="flex flex-col ")
                        span(class="text-md") hips
                        span(class="text-md") 34 
                    div(class="flex flex-col ")
                        span(class="text-md") shoes
                        span(class="text-md") 81/2 US
                    div(class="flex flex-col ")
                        span(class="text-md") hair
                        span(class="text-md") light brown
                    div(class="flex flex-col ")
                        span(class="text-md") eyes
                        span(class="text-md") brown
                    div(class="flex flex-col")
                        span(class="text-md") location
                        span(class="text-md") london
                    div(class="flex flex-col")
                        span(class="text-md") Nationality
                        span(class="text-md") Brazilian                  
                        
            div(class="bg")
                img(src="./media/models/1.png", alt="")