div(class="section single-model-section-2")
    div(class="container")
        div(class="single-model-slider splide flex flex-col")
            div(class="splide__track")
                ul(class="splide__list" data-barba-prevent="all")
                    li(class="splide__slide")
                        a(href="./media/gallery/1.png"   class="glightbox")
                            img(src="./media/gallery/1.png",  alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/2.png"   class="glightbox")
                            img(src="./media/gallery/2.png",   alt="", srcset="")                    
                    li(class="splide__slide")
                        a(href="./media/gallery/3.png"   class="glightbox")
                            img(src="./media/gallery/3.png",  alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/4.png"   class="glightbox")
                            img(src="./media/gallery/4.png",   alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/5.png"   class="glightbox")
                            img(src="./media/gallery/5.png",   alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/6.png"   class="glightbox")
                            img(src="./media/gallery/6.png",   alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/7.png"   class="glightbox")
                            img(src="./media/gallery/7.png",  alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/8.png"   class="glightbox")
                            img(src="./media/gallery/8.png",  alt="", srcset="") 
                    li(class="splide__slide")
                        a(href="./media/gallery/9.png"   class="glightbox")
                            img(src="./media/gallery/9.png",  alt="", srcset="")          