/* FONTS */
@use "mixins" as *;
@use "variables" as *;

.text-xxl{
    @apply 
    leading-none
    h-auto
    uppercase;
}

.text-xl{
   @apply leading-none capitalize;
   font-family: $secondary-font;
   font-weight: 'normal';
}

.text-lg {
   @apply leading-none capitalize;  
   font-family: $secondary-font;
}

.text-md{
   @apply capitalize tracking-tighter; 
   font-family: $primary-font-regular;
}

.text-sm {
    @apply leading-none; 
}

.text-body {
   @apply capitalize;
   font-family: $primary-font-thin;   
}
.text-input {
   @apply leading-none; 
}

.text-highlight {
   @apply leading-none capitalize font-normal; 
   font-family: $primary-font-thin;
}

.text-link {
 @apply leading-none;  
}

.text-direction {
   @apply leading-none; 
}