

/* FONTS */
$font-stack: "Arial", sans-serif;
$font-title: "Cambria", sans-serif;
$primary-font-regular : "NON-regular";
$primary-font-thin : "NON-thin";


$secondary-font : "Miller Display";

/*COLORS*/
$primary-color-1 : rgba(17, 17, 17); //#111111
$primary-color-2 : rgb(15, 15, 15); //#0f0f0f 
$primary-color-3 : rgb(0, 0, 0); //#000000; 
$primary-color-4 : rgb(255, 255, 255); //#ffffff; 
$primary-color-5 : rgb(18, 18, 18); //#121212


